<div class="upload-top admin-top">

    
    

    <div class="pagebutton-container">
        

        <a href="/admin/dashboard"><button class="">BACK TO DASHBOARD</button></a>

        <a href="/admin/photo">
            <button>BACK TO VIEW PHOTOS</button>
        </a>

    </div>

    <div class="pagetitle-container"><h1 class="dashboard-title">Article Logo Photos</h1></div>

    


</div>