<header class="header">

    <div class="header-top">
        <div class="header-left">

            <div class="name-container">
                <a href="/" class="header-name name-text">Ergo News</a>
            </div>

        </div>

        <div class="header-center">
            <div>
                <h1>Admin Portal</h1>
            </div>

        </div>

        <div class="header-right">
            <form action="/admin/logout" method="POST" class="">
                <button type="submit" class="logout-button">LOG OUT</button>
            </form>
        </div>
    </div>

</header>