<div class="filter-container">

    <button class="filter-button" data-category="Industry">
        <div class="icon-container">
            <img src="/svg/briefcase-24-white.svg" alt="">
        </div>
        Industry
    </button>
    <button class="filter-button" data-category="Regulatory">
        <div class="icon-container">
            <img src="/svg/helmet-24-white.svg" alt="">
        </div>
        Regulatory
    </button>
    <button class="filter-button" data-category="Academia">
        <div class="icon-container">
            <img src="/svg/chart-24-white.svg" alt="">
        </div>
        Research & Academia
    </button>
    <button class="filter-button" data-category="Organizations">
        <div class="icon-container">
            <img src="/svg/handshake-24-white.svg" alt="">
        </div>
        Professional Organizations
    </button>
    <button class="filter-button" data-category="Education">
        <div class="icon-container">
            <img src="/svg/cap-24-white.svg" alt="">
        </div>
        Continuing Education
    </button>
    <button class="filter-button" data-category="Technology">
        <div class="icon-container">
            <img src="/svg/gears-24-white.svg" alt="">
        </div>
        Products & Technology
    </button>


</div>
