<div class="filter-container">

    <button class="filter-button" data-category="Industry">
        <div class="icon-container">
            <img src="/svg/briefcase-24-white.svg" alt="">
        </div>
        <div class="label-container filter-text">
            Industry
        </div>
        
    </button>
    <button class="filter-button" data-category="Regulatory">
        <div class="icon-container">
            <img src="/svg/helmet-24-white.svg" alt="">
        </div>
        <div class="label-container filter-text">
            Regulatory
        </div>
        
    </button>
    <button class="filter-button" data-category="Academia">
        <div class="icon-container">
            <img src="/svg/chart-24-white.svg" alt="">
        </div>
        <div class="label-container filter-text">
            Research & Academia
        </div>
    </button>
    <button class="filter-button" data-category="Organizations">
        <div class="icon-container">
            <img src="/svg/handshake-24-white.svg" alt="">
        </div>
        <div class="label-container filter-text">
            Professional Organizations
        </div>
        
    </button>
    <button class="filter-button" data-category="Education">
        <div class="icon-container">
            <img src="/svg/cap-24-white.svg" alt="">
        </div>
        <div class="label-container filter-text">
            Continuing Education
        </div>
    </button>
    <button class="filter-button" data-category="Technology">
        <div class="icon-container">
            <img src="/svg/gears-24-white.svg" alt="">
        </div>
        <div class="label-container filter-text">
            Products & Technology
        </div>
        
    </button>
    <button class="filter-button" data-category="Health">
        <div class="icon-container">
            <img src="/svg/heart-24-white.svg" alt="">
        </div>
        <div class="label-container filter-text">
            Health & Wellness
        </div>
        
    </button>


</div>
