<div class="filter-container">

    <button class="filter-button" id="industry-filter" data-category="Industry">Industry</button>
    <button class="filter-button" id="regulatory-filter" data-category="Regulatory">Regulatory</button>
    <button class="filter-button" id="academia-filter" data-category="Academia">Research & Academia</button>
    <button class="filter-button" id="organizations-filter" data-category="Organizations">Professional Organizations</button>
    <button class="filter-button" id="education-filter" data-category="Education">Continuing Education</button>
    <button class="filter-button" id="technology-filter" data-category="Technology">Products & Technology</button>


</div>
