<header class="header">
    <div class="header-top">
        <a href="/" class="header-logo">News App</a>

        <nav class="header-nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="/" class="">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/" class="">Admin</a>
                </li>
                <li class="nav-item">
                    <a href="/" class="">Blank</a>
                </li>
            </ul>
        </nav>

        <div class="header-search">
            <%- include('./search.ejs') %>
        </div>

    </div>
    <div class="header-bottom">

        <%- include('./filter.ejs') %>

    </div>
    
</header>