<header class="header red">
    <a href="/" class="header__logo green">News App</a>

    <nav class="header__nav green">
        <ul class="header__list">
            <li class="header__item blue">
                <a href="/" class="">Home</a>
            </li>
            <li class="header__item blue">
                <a href="/" class="">Admin</a>
            </li>
            <li class="header__item blue">
                <a href="/" class="">Blank</a>
            </li>
        </ul>
    </nav>

    <div class="header__button green">
        <button class="searchBtn" aria-expanded="false">
            Search 

        </button>
    </div>
</header>