<header class="header header-mobile">

    <div class="header-top">
        <div class="header-left">

            <div class="name-container">
                <a href="/" class="header-name name-text">Ergo News</a>
            </div>

        </div>

        <div class="header-center">

            <div class="logo-container">
                <img src="/logo/saturn-logo-thin.png" alt="Saturn Ergonomics Logo" class="header-logo">
            </div>

        </div>

        <div class="header-right">

            <div class="search-container">
                <form action="search" class="search-form">
                    <input type="text" inputmode="search" placeholder="Search..." class="search-input search-text">
                    <button type="button" class="clear-button" aria-label="Clear search input">
                        &times;
                    </button>
                </form>
            </div>

        </div>
    </div>

    <div class="header-bottom">
        <%- include('./filter.ejs') %>
    </div>

</header>