<header class="header header-desktop">

        <div class="header-top">
            <div class="header-left">

                <div class="name-container">
                    <a href="/" class="header-name">Ergo News</a>
                </div>

            </div>

            <div class="header-center">

                <div class="logo-container">
                    <img src="/img/saturn-logo-thin.png" alt="Saturn Ergonomics Logo">
                </div>

            </div>

            <div class="header-right">

                <div class="search-container">
                    <%- include('./search.ejs') %>
                </div>

            </div>
        </div>

        <div class="header-bottom">
            <%- include('./filter.ejs') %>
        </div>

</header>