:root {
    --border-gray: #303030;
    --text-gray: #c8c8c8;
    --background-gray: #1b1b1b;
    --green: rgb(0, 128, 0);


    --font-heading: 'Space Grotesk', sans-serif;
    --font-body: 'Source Serif Pro', serif;
}

* {
    font-family: var(--font-heading)
}

button {

    cursor: pointer;
    height: 30px;
    padding: 0px 10px;
    border-radius: 3px;

    color: white;
    background-color: var(--background-gray);
    border: var(--border-gray) 1px solid;


    transition: background-color 0.2s ease;
}

/* header (specifically for admin portal */

.logout-button {
    cursor: pointer;
    height: 30px;
    width: 100px;
    padding: 0px 10px;
    border-radius: 3px;
}








/* log in */

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;
    margin: 20px 0px;
}





/* area above the admin pages -- includes nav buttons relevant to the current admin page the user in on + pagetitle */

.admin-top {
    display: flex;
    flex-direction: column;

    border-bottom: var(--border-gray) 1px solid;
}

.pagebutton-container {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;

    border-bottom: var(--border-gray) 1px solid;
}

.pagetitle-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}


.pagebutton-container button {
    border: var(--border-gray) 1px solid;
    cursor: pointer;
    height: 30px;
    width: auto;
    padding: 0px 10px;
    border-radius: 3px;
}


.admin-middle {
    border-bottom: var(--border-gray) 1px solid;
}











/* dashboard */

.admin-list {
    list-style: none;
    padding: 0;
    margin: 0;

}


.admin-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    border-top: var(--border-gray) 1px solid;
    padding: 10px 15px;
}







/* main dashboard only */

.item-left {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.item-right {
    display: flex;
    gap: 10px;
}

.item-right button {
    cursor: pointer;
    height: 30px;
    padding: 0px 10px;
    border-radius: 3px;
}

/* photos dashboard */

.photo-image {
    height: 30px;
}





/* upload photo */

.upload-form, .rename-form {
    margin: 0px 10px 10px 10px;
    padding-top: 10px;
}
























/* ----------------- new -------------------- */


form {
    border-top: var(--border-gray) 1px solid;
}

.text-input {
    color: black;
    width: 100%;
    padding: 0px 5px;
}

fieldset {
    margin: 10px 10px;
    padding-bottom: 10px;
    border-bottom: var(--border-gray) 1px solid;
}
legend {
    margin-bottom: 5px;
}

.categories-fieldset {
    display: flex;
    flex-direction: column;
}


.image-select {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image-option {
    /* cursor: pointer; */
    border: transparent  2px solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    transition: border 0.2s ease;
}

.image-option>input {
    
    cursor: pointer;
}

.image-option>div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.image-option img {
    width: 100px;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
}

/* .image-option input:checked + img {
    border: var(--green) 2px solid;
} */







/* this centers the form buttons */

.form-actions{
    display: flex;
    justify-content: center;

    margin-bottom: 20px;
}










/* ------------ rename + upload forms -- this shrinks and centers the form width --------- */

.rename-container .admin-middle, .upload-container .admin-middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rename-container form, .upload-container form {
    width: auto;

}

.rename-container input, .upload-container input {
    width: 100%;
}












/* ------- button colors -------*/

.red-button {
    background-color: darkred;

}

.blue-button {
    background-color: darkblue;

}

.green-button {
    background-color: darkgreen;
}

.black-button {
    background-color: black;
}