


@media (min-width: 600px) {
    
}








/* Header queries */

.header-lg {
    display: none;
}

.header-center {
    display: none;
}



/* End of mobile--beginning of desktop */

@media (min-width: 600px) {
    .header-center {
        display: block;
    }

    header, main, footer {
        margin-left: 40px;
        margin-right: 40px;
    }
}



/* When the names of the categories should show up */

@media (min-width: 1150px) {
    /* .label-container {
        opacity: 1;
        width: auto;
    } */
}









/* Grid queries */

@media (min-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 900px) {
    .grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}