/* VARIABLES */






/* Margins + padding */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border: none;
}

div {
    display: block;
}

main {
    margin-top: 20px;
    margin-bottom: 20px;
}

header, main, footer {
    margin-left: 10px;
    margin-right: 10px;
}





/* Sizing */

.icon-container {
    height: 24px;
    width: 24px;
}

@media(max-width: 600px) {
    .filter-icon {
        height: 30px;
        width: 30;
    }
    .icon-container {
        height: 30px;
        width: 30px;
    }
}





/* Other styling */

ul {
    list-style: none;
}



#see-more-button {
    height: 30px;
    width: 100%;
    margin-top: 20px;

    cursor: pointer;

    border-radius: 3px;
}

@media (min-width: 600px) {
    #see-more-button {
        height: 50px;
    }
}






footer {
    padding-top: 10px;
    margin-top: 20px;
}



































.red {
    border: 1px red solid;
}
.green {
    border: 1px green solid;
}
.blue {
    border: 1px blue solid;
}
